
<div id="calculatorContainer">
  <div id="calculator">
    <div id="resultsContainer">{{next||total||0}}</div>
    <div id="calculatorBody">
      <button type="button" name="AC" (click)= "handleClick($event)">AC</button>
      <button type="button" name="+/-" (click)= "handleClick($event)">+/-</button>
      <button type="button" name="%" (click)= "handleClick($event)">%</button>
      <button type="button" class="altColor" name="÷" (click)= "handleClick($event)">÷</button>
      <button type="button" name="7" (click)= "handleClick($event)">7</button>
      <button type="button" name="8" (click)= "handleClick($event)">8</button>
      <button type="button" name="9" (click)= "handleClick($event)">9</button>
      <button type="button" class="altColor" name="x" (click)= "handleClick($event)">x</button>
      <button type="button" name="4" (click)= "handleClick($event)">4</button>
      <button type="button" name="5" (click)= "handleClick($event)">5</button>
      <button type="button" name="6" (click)= "handleClick($event)">6</button>
      <button type="button" class="altColor" name="-" (click)= "handleClick($event)">-</button>
      <button type="button" name="1" (click)= "handleClick($event)">1</button>
      <button type="button" name="2" (click)= "handleClick($event)">2</button>
      <button type="button" name="3" (click)= "handleClick($event)">3</button>
      <button type="button" class="altColor" name="+" (click)= "handleClick($event)">+</button>
      <button type="button" class="gridSpanTwo" name="0" (click)= "handleClick($event)">0</button>
      <button type="button" name="." (click)= "handleClick($event)">.</button>
      <button type="button" class="altColor" name="=" (click)= "handleClick($event)">=</button>
    </div>
  </div>
</div>