<div id="calculatorContainer">
  <div id="calculator">
    <div id="resultsContainer">0</div>
    <div id="calculatorBody">
      <button type="button" name="AC">AC</button>
      <button type="button" name="+/-">+/-</button>
      <button type="button" name="%">%</button>
      <button type="button" class="altColor" name="÷">÷</button>
      <button type="button" name="7">7</button>
      <button type="button" name="8">8</button>
      <button type="button" name="9">9</button>
      <button type="button" class="altColor" name="x">x</button>
      <button type="button" name="4">4</button>
      <button type="button" name="5">5</button>
      <button type="button" name="6">6</button>
      <button type="button" class="altColor" name="-">-</button>
      <button type="button" name="1">1</button>
      <button type="button" name="2">2</button>
      <button type="button" name="3">3</button>
      <button type="button" class="altColor" name="+">+</button>
      <button type="button" class="gridSpanTwo" name="0">0</button>
      <button type="button" name=".">.</button>
      <button type="button" class="altColor" name="=">=</button>
    </div>
  </div>
</div>